.App {
  text-align: center;
  display: grid;

}

body {
  display: grid;
  background-color: rgb(197, 214, 204); 


}

.shopName {
    font-family: 'Fredoka One', sans-serif;
    font-size: 60px;  
    padding-top: 15px;
    color: rgb(227, 171, 151);
}

.prod-heading {
  font-size: 20px; 
}

p {
  color: rgb(222, 120, 84); 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1, h2, h3 {
  margin: 0.5rem 0;
}

a {
  text-decoration: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



.font-link {
  font-family: 'Fredoka One';
}

.nav-bar {
  display: inline-block;
  padding: 8px;
  font-family: sans-serif;
  justify-self: center;
  font-size: 20px;

}

.contact button {
  all: unset;
}

.nav-bar button {
  all: unset;
  padding: 8px;
  text-decoration: none;


}

.nav-bar button a {
  text-decoration: none;
  
}

.nav-bar button:hover {
  background-color: #e996c9; 
  color: white;
  border-radius: 12px;
  font: white;
}

.nav-bar button:hover a {
  background-color: #e996c9; 
  color: white;
  border-radius: 12px;
  font: white;
}

.prods {
    display: grid;
    grid-template: auto auto auto auto / 1fr 1fr 1fr;
}

.prod-img {
 height: 250px;
 width: 250px;
 border-radius: 15px;
}

.input-box {
  width: 300px;
  height: 200px;
}

.success-message {
  color: teal;
  margin-top: 50px;
}

.cart {
  padding-bottom: 30px;

}

.col-2 {
  flex: 2
}

aside {
  grid-column: -1fr;
}

.prod-id {
  margin-bottom: 50px;

}


.Contact input {
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid rgb(32, 72, 139);;
  box-sizing: border-box;
  place-items: center;
  border-radius: 5px;
  color: rgb(222, 120, 84); 
}

.Contact h3 {
  padding-top: 15px;
  color: rgb(32, 72, 139);
  font-size: 30px;
  color: rgb(222, 120, 84); 
}

.Contact label {
  padding-top: 15px;
  color: rgb(222, 120, 84); 
}

/* Message function */
.msg-id {
  border: solid 2px coral;
  grid-template-columns: 2fr;
  color: rgb(141, 96, 141);
  margin: 25px 300px 25px 300px;
}

.msg-btn {
  all: unset;
  padding: 8px;
  text-decoration: none;
}

.Sign-Up {
  color: rgb(222, 120, 84); 
}

.login {
  color: rgb(222, 120, 84); 
}