.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-bar {
  display: inline-block;
  padding: 8px;
  font-family: sans-serif;
  justify-self: center;

}

.contact button {
  all: unset;
}

.nav-bar button {
  all: unset;
  padding: 8px;
}

.nav-bar button:hover {
  background-color: #e996c9; 
  color: white;
  border-radius: 12px;
}

.prods {
    display: grid;
    grid-template: auto auto auto auto / 1fr 1fr 1fr;
}

.prod-img {
 height: 250px;
 width: 250px;
 border-radius: 15px;
}

.input-box {
  width: 300px;
  height: 200px;
}

